# CHAMP Transects Notebook

<img style="float:right;" src="https://id.dewberry.com/clients/Templates/DewberryLogo_RGB.png" width=150px>

In [1]:
import pyodbc
import pandas as pd

In [2]:
conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=P:\Temp\tmiesse\for_Jeff_transects\Charlotte_CHAMP.mdb;')

cursor = conn.cursor()
cursor.execute('select * from EROSION')
erosion=[]
temp = cursor.fetchall()
conn.close()

In [4]:
table = pd.DataFrame(temp)

In [5]:
table.head()

                                                 0
0  [10261, -2915.141357421875, -20.00819969177246]
1  [10070, -3017.60498046875, -21.369022369384766]
2  [10070, -3007.613037109375, -21.33017349243164]
3  [10070, -2997.620849609375, -21.22675323486328]
4     [10070, -2987.62890625, -21.186620712280273]

In [12]:
table=table.rename(columns={0:'erosion'})

In [19]:
head = list(table.columns.values)
table['transect'],table['station'],table['elevation'] = table['erosion'].str.split(',')

ValueError: too many values to unpack (expected 3)

In [14]:
head

['erosion']