# Model QC Notebook

<img style="float:right;" src="https://id.dewberry.com/clients/Templates/DewberryLogo_RGB.png" width=150px>

### Description
#### - What is needed to use this notebook
  1. adcirc library
  
#### - Steps to follow:
  1. Import Libraries & Assign Paths
  2. Assign Tasks
  3. Save Report

### 1. Import Libraries, Assign Paths, & Variables

In [1]:
from adcirc import adcirc
import os
import pandas as pd
root_dir = r'P:\Temp\tmiesse\projects\north_carolina\past_studies\refinednewtopo'
f13, f14 = 'fort.13', 'fort.14'
fort13 = adcirc(root_dir,f13)
fort14 = adcirc(root_dir,f14)

### 2. Tasks

#### a. Find the attributes used in the Fort.13 file

In [2]:
attr = fort13.attributes()
attr

                                           Parameter
0                            wave_refraction_in_swan
1                     sea_surface_height_above_geoid
2     surface_directional_effective_roughness_length
3                         surface_canopy_coefficient
4                            mannings_n_at_sea_floor
5         primitive_weighting_in_continuity_equation
6  average_horizontal_eddy_viscosity_in_sea_water...

#### b. Read nodal attributes in fort.13 into a table

In [3]:
table13 = fort13.read_fort13(attr)
table13.head()

 Started finding nodes in attributes at

2018-07-17 15:34:42.460799
===========END==========

Processing Time :
0:03:32.663992

,wave_refraction,sea_surface,surface_directional,surface_canopy,mannings_n,primitive_weighting,average_horizontal
0,1 0.000000,NaN,15490 0.0106490 0.00182500 0.00100000 0.001000...,16299 0.000000,24262 0.0500000,1 0.0200000,1 4.00000
1,2 0.000000,NaN,15491 0.00421200 0.00109300 0.00100000 0.00100...,21471 0.000000,25236 0.0500000,2 0.00500000,2 4.00000
2,3 0.000000,NaN,16297 0.0511780 0.0586370 0.131352 0.00131000 ...,25239 0.000000,25237 0.0370000,3 0.00500000,3 4.00000
3,4 0.000000,NaN,16298 0.0442180 0.0539520 0.0202930 0.0458700 ...,25245 2.27374e-013,25239 0.100000,4 0.00500000,4 4.00000
4,5 0.000000,NaN,16299 0.109154 0.143936 0.173318 0.123676 0.09...,25255 0.000000,25240 0.0370000,5 0.00500000,5 4.00000

#### c. Open and Read the nodes/locations in the fort14

In [4]:
table14 = fort14.read_fort14()
table14.head()

  node_id          node_x        node_y          value
0       1  -60.0400300000  8.5596800000   6.1570001000
1       2  -60.0402700000  8.6642500000  12.8529997000
2       3  -60.0405100000  8.7688200000  25.3540001000
3       4  -60.0409900000  8.9779600000  46.1559982000
4       5  -60.0414700000  9.1871000000  26.4549999000

#### d. Seperate the nodes and data in the fort.13 table

In [6]:
table13['wave_nodes'], table13['wave_data'] = table_v2['wave_refraction'].str.split(' ', 0).str
table13['surface_nodes'], table13['e'], table_v2['ese'], table_v2['se'],table_v2['s'], table_v2['sw'], table_v2['wsw'], table_v2['w'], table_v2['wnw'],table_v2['nw'], table_v2['n'], table_v2['ne'], table_v2['ene'] = table_v2['surface_directional'].str.split(' ', 0).str
table13['canopy_nodes'], table13['canopy_data'] = table_v2['surface_canopy'].str.split(' ', 0).str
table13['mannings_nodes'], table13['mannings_data'] = table_v2['mannings_n'].str.split(' ', 0).str
table13['prim_nodes'], table13['prim_data'] = table_v2['primitive_weighting'].str.split(' ', 0).str
table13['horiz_nodes'], table13['horiz_data'] = table_v2['average_horizontal'].str.split(' ', 0).str
table13 = table13.drop('wave_refraction',1)
table13 = table13.drop('surface_directional',1)
table13 = table13.drop('surface_canopy',1)
table13 = table13.drop('mannings_n',1)
table13 = table13.drop('primitive_weighting',1)
table13 = table13.drop('average_horizontal',1)
table13.head()

NameError: name 'table_v2' is not defined

In [9]:
table = pd.DataFrame.copy(table13)

In [6]:
table13_v2.head()

,wave_refraction,sea_surface,surface_directional,surface_canopy,mannings_n,primitive_weighting,average_horizontal
0,1 0.000000,NaN,15490 0.0106490 0.00182500 0.00100000 0.001000...,16299 0.000000,24262 0.0500000,1 0.0200000,1 4.00000
1,2 0.000000,NaN,15491 0.00421200 0.00109300 0.00100000 0.00100...,21471 0.000000,25236 0.0500000,2 0.00500000,2 4.00000
2,3 0.000000,NaN,16297 0.0511780 0.0586370 0.131352 0.00131000 ...,25239 0.000000,25237 0.0370000,3 0.00500000,3 4.00000
3,4 0.000000,NaN,16298 0.0442180 0.0539520 0.0202930 0.0458700 ...,25245 2.27374e-013,25239 0.100000,4 0.00500000,4 4.00000
4,5 0.000000,NaN,16299 0.109154 0.143936 0.173318 0.123676 0.09...,25255 0.000000,25240 0.0370000,5 0.00500000,5 4.00000

In [35]:
xx = list(table.columns.values)

In [12]:
table13_v2 = adcirc.seperate_13(table)

NameError: name 'table' is not defined

In [30]:
table.head()

,wave_refraction,sea_surface,surface_directional,surface_canopy,mannings_n,primitive_weighting,average_horizontal,wavenodes,wavedata
0,1 0.000000,NaN,15490 0.0106490 0.00182500 0.00100000 0.001000...,16299 0.000000,24262 0.0500000,1 0.0200000,1 4.00000,1,0.000000
1,2 0.000000,NaN,15491 0.00421200 0.00109300 0.00100000 0.00100...,21471 0.000000,25236 0.0500000,2 0.00500000,2 4.00000,2,0.000000
2,3 0.000000,NaN,16297 0.0511780 0.0586370 0.131352 0.00131000 ...,25239 0.000000,25237 0.0370000,3 0.00500000,3 4.00000,3,0.000000
3,4 0.000000,NaN,16298 0.0442180 0.0539520 0.0202930 0.0458700 ...,25245 2.27374e-013,25239 0.100000,4 0.00500000,4 4.00000,4,0.000000
4,5 0.000000,NaN,16299 0.109154 0.143936 0.173318 0.123676 0.09...,25255 0.000000,25240 0.0370000,5 0.00500000,5 4.00000,5,0.000000

In [6]:
# Assign date of QC & Name/Info of QC Staff
qc_date = datetime.now()
qc_staff = 'Tyler Miesse'

print('QC Completed on {} by {}'.format(qc_date, qc_staff))

QC Completed on 2018-07-17 11:34:54.460137 by Tyler Miesse

### Export Completed QC Report

## End